@charset "utf-8";
/* CSS Document */
body {
	background-image:url(../images/img/latar.jpg);
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
}
a, a:visited {
	text-decoration: none;
	color:#F00;
	font-weight:bold;
}
.abu, a.abu {
	color:#666;
	font-size:11px;
}
.merah{
	color:#f30;
}
input.blok, textarea.blok {
	background-color: #FF9;
	color: #F00;
}
.hijau {
	color: #093;
	font-weight: bold;
	background-image: url(../images/img/accept.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
/* top */
.top {
	font-size: 16px;
	font-weight: bold;
}
/* dasbor */
.dasbor {
	text-align: center;
}
table.dasbor {
	text-align: center;
}
.dasbor th, .dasbor td {
	padding: 10px 20px;
	text-align: center;
	vertical-align: top;
}
.dasbor img {
	max-width: 64px;
	max-height: 64px;
	padding: 5px;
	cursor: pointer;
}
.dasbor img:hover {
	background-color: #336699;
	border-radius: 5px;
}
.dasbor h1 a, .dasbor h1 a:visited {
	color: #099;
	text-decoration: none;
}
.dasbor h1 a:hover {
	color: #F00;
}
/*login*/
#login {
	margin: 6% auto auto auto;
	background-color: #FFF;
	border:solid thin #EEE;
	Border-radius: 10px;
	width:35%;
	min-width: 240px;
}
#login h1 {
	background-color:#003399;
	color:#FFF;
	margin-top: 0;
	border-radius: 10px 10px 0 0;
	font-size: 18px;
	padding: 10px 20px;
}
/*form setting*/
#login form, form.myform {
	border:solid thin #EEE;
	border-radius: 5px;
	padding: 10px 20px;
}
#login form {
	margin:10px 20px;
}
#login form label, .myform label {
	font-weight: bold;
	display:block;
	text-transform: capitalize;
}
th.kiri, tr.kiri th {
	text-align: left;
}
#login input[type='text'], #login input[type='password'], .myform input[type='text'], .myform input[type='password'],
.myform select, .myform textarea {
	padding: 6px 12px;
	background-color: #F5F5F5;
}
#login input[type='text'], #login input[type='password'] {
	width: 94%;
}
#login input[type='submit'], #login input[type='reset'],
.myform input[type='submit'], .myform input[type='reset'],
a.tambah, a:visited.tambah {
	background-color: #003399;
	color:#fff;
	padding: 10px 20px;
	border:none;
	border-radius: 5px;
	cursor:pointer;
	font-weight:bold;
	text-shadow: 1px 1px gray;
	margin-right:10px;
	margin-bottom: 20px;
	display: inline-block;
}
#login input[type='submit']:hover, #login input[type='reset']:hover,
.myform input[type='submit']:hover, .myform input[type='reset']:hover,
a.tambah, a:hover.tambah {
	background-color:#000;
}
#login form a,#login form a:visited {
	color:#f30;
}
#login form a:hover {
	color:#900;
}
.myform th, .myform td {
	text-align:left;
	vertical-align: top;
	padding:8px 16px;
	border-bottom:solid thin #EEE;
}
.myform th {
	background-color:#F5F5F5;
	font-weight:bold;
	color:#099;
	vertical-align: middle;
}
.abu {
	font-size: 11px;
	color:#666;
}
.merah {
	color:#F30;
	font-weight: bold;
}
/*warning dan sukses*/
.warning, .sukses {
	border-bottom: solid 2px #09C;
}
.warning {
	background-color: #F5F5F5;
	color:#f00;
	border-left: solid 8px #F00;
	padding:10px 20px;
}
.sukses {
	background-color: #F5F5F5;
	color:#090;
	border-left: solid 8px #090;
	padding:10px 20px;
}
#login .warning, #login .sukses {
	margin: 10px 20px;
}
/*wrapper*/
#wrapper {
	width:90%;
	min-width:900px;
	max-width: 1000px;
	background-color: #FFF;
	margin: auto auto 20px auto;

}
/*header*/
header {
	height:auto;
	min-height: 30px;
	padding:10px 20px;
}
header .akun{
	background-color:#099;
	color:#fff;
	padding: 10px 20px;

	float:left;
	margin-right: 20px;
}
header .home{
	background-color:#099;
	color:#FFF;
	padding: 10px 20px;

	float:right;
	margin-right: 20px;
}
header a, header a:visited{
	color:#FFF;
	font-weight: bold;
}
header a:hover{
	color:#CF0;
}
/*nav*/
nav {
	background-color: #003399;
	color: #6699FF;
	height: 50px;
	padding:0 10px;
	margin: 10px 0;
}
/*konten*/
.konten {
	height:auto;
	min-height: 200px;
	padding:10px 20px;
}
.konten h1 {
	color:#099;
	border-bottom: solid thin #EEE;
	font-size: 18px;
}
/*clearfix*/
.clearfix {
	display:block;
	clear:both;
	margin-bottom: 10px;
}
/* dasbor */
.dasbor {
	text-align: center;
}
table.dasbor {
	text-align: center;
}
.dasbor th, .dasbor td {
	padding: 10px 20px;
	text-align: center;
	vertical-align: top;
}
.dasbor img {
	max-width: 64px;
	max-height: 64px;
	padding: 5px;
	cursor: pointer;
}
.dasbor img:hover {
	background-color: #CFC;

}
.dasbor h1 a, .dasbor h1 a:visited {
	color: #099;
	text-decoration: none;
}
.dasbor h1 a:hover {
	color: #F00;
}
/*footer*/
footer {
	background-color: #003399;
	color: #CCC;
	padding: 10px 20px;
	text-align: center;
	font-size: 11px;

}
footer a, footer a:visited{
	color: #FFF;
}
footer a: hover {
	color:#CF0;
}

